# This is a basic workflow to help you get started with Actions

name: Deploy Bot

on: 
  push:
    branches: ['master'] 
    
jobs:
  deploy:
    runs-on: [ x64, ubuntu-latest ]
    defaults:
      run:
        working-directory: Diag-matrix-bot
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: ./Diag-matrix-bot
      - name: "Copying env files"
        run: |
          echo "BOT_TOKEN=${{ secrets.DIAG_MATRIX_BOT_TOKEN }}" > ./.env
      - name: "Building image..."
        run: docker-compose build
      - name: "Starting service..."
        run: docker-compose run 
